@font-face {
  font-family: gblack;
  src: url("../fonts/Gotham-Black.otf") format("opentype");
}

@font-face {
  font-family: glight;
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: gmedium;
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: glight;
}

body {
  background: #c0deed;
}

.container {
  display: block;
  text-align: center;
}

.container .signinbutton {
  margin: 20% 40%;
  display: block;
  width: 300px;
  color: #fff;
  font-family: gmedium;
  text-decoration: none;
  background: #00aced;
  padding: 20px;
  border-radius: 2px;
  text-align: center;
}

.container .signinbutton i {
  font-size: 40px;
  vertical-align: middle;
  padding-right: 20px;
}

.dashboard {
  padding: 10%;
  line-height: 30px;
}

.dashboard h2 {
  color: #0084b4;
  font-size: 40px;
  font-family: gblack;
}

.dashboard .ppic {
  border-radius: 100px;
  margin-top: 5%;
  margin-right: 50%;
  float: right;
}

.dashboard .details {
  display: block;
  width: 50%;
  margin-top: 50px;
}

.dashboard .details .que {
  display: inline-block;
  width: 27%;
  font-family: gmedium;
  text-align: right;
}

.dashboard .details .ans {
  display: inline-block;
  width: 49%;
  text-decoration: none;
  color: black;
}

.logout {
  color: #0084b4;
  text-decoration: none;
}
